<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <h1><%= title %></h1>

    <div class="container">

      <% messages.forEach((value,index)=>{ %>
      <div class="one-box">
        <p><strong>Name: </strong> <%= value.user%></p>
        <p><strong>Message: </strong> <%= value.text%></p>
        <p><strong>Date: </strong> <%= value.added%></p>
      </div>
      <%}) %>

      <a href="/new">New Message</a>

    </div>
  </body>
</html>
